// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// Header styling
// Defines a flex container, positioning, and some formatting tweaks.

body {
display: flex;
flex-direction: row;
height: 100vh;
overflow-y: hidden;

}

.site-header {

background-color: #202020;
display: flex;
max-width: 480px;
border-right: 2px solid black;
flex-direction: column;
border: none;

}

.trans-pride-flag {
  background: linear-gradient(to bottom,
  #55CDFC 20%,
  #F7A8B8 20%, #F7A8B8 40%,
  #FFFFFF 40%, #FFFFFF 60%,
  #F7A8B8 60%, #F7A8B8 80%,
  #55CDFC 80%);
  width: 200vw;
  height: 40px;
  right: 0;
  top: 30px;

  display: flex-direction colum;
  filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.5));
  transform: rotate(330deg);
  position: fixed;
  z-index: 1;
}

.lesbian-pride-flag {
  background: linear-gradient(to bottom,
  #a40061 14.2%,
  #b75592 14.2%, #b75592 28.4%,
  #d063a6 28.4%, #d063a6 42.8%,
  #ededeb 42.8%, #ededeb 56.8%,
  #e4accf 56.8%, #e4accf 71%,
  #c54e54 71%,   #c54e54 85.2%,
  #8a1e04 85.2%, #8a1e04 100%);

  width: 200vw;
  height: 40px;
  right: 0;
  top: 100px;

  display: flex-direction colum;
  filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.5));
  transform: rotate(330deg);
  position: fixed;
  z-index: 2;
}

.header-image {
display: flex;
max-width: 200px;
max-height: 200px;
filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.5));

}

.site-nav {
  display: flex;
  flex-direction: column;
  top: 9px;
}

.site-title {
  @include relative-font-size(1.5);
  color: #D0CCD0;

  &,
  &:visited {
    color: #D0CCD0;
  }
}

// Content styling
//
.page-content {
  background-color: #D0CCD0;
  display: flex;
  max-width: 100%;
  overflow-y: auto;
}

.read-more{

}

.post-categories {
margin-top: 10px;
}

.post-link {
  @include relative-font-size(2);
  color: #008080;
}
