// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// Header styling
// Defines a flex container, positioning, and some formatting tweaks.
.site-header {

background-color: #202020;
display: flex;
max-width: 480px;
height: 100%;
position: fixed;
border-right: 2px solid black;
flex-direction: column;
border: none;

}

.trans-pride-flag {
display: flex-direction colum;
filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.5));
max-width: 200px;
max-height: 250px;
transform: rotate(330deg);
position: fixed;
top: -5px;
left: -30px;
z-index: 1;
}

.lesbian-pride-flag {
display: flex-direction colum;
filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.5));
max-width: 350px;
max-height: 250px;
transform: rotate(330deg);
position: fixed;
top: 25px;
left: -40px;
z-index: 2;
}

.header-image {
display: flex;
max-width: 200px;
max-height: 200px;
filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.5));

}

.site-nav {
  display: flex;
  flex-direction: column;
  top: 9px;
}

.site-title {
  @include relative-font-size(1.5);
  color: #D0CCD0;

  &,
  &:visited {
    color: #D0CCD0;
  }
}

// Content styling
//
.page-content {
  background-color: #D0CCD0;
  display: flex;
  max-width: 100%;
  height: auto;

}

.read-more{

}

.post-categories {
margin-top: 10px;
}

.post-link {
  @include relative-font-size(2);
  color: #008080;
}
