<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<div class="trans-pride-flag">
  <img src="/assets/images/trans-pride.png" alt="Transgender pride flag">
  </div>

  <div class="lesbian-pride-flag">
    <img src="/assets/images/lesbian-pride.png" alt="Lesbian pride flag">
    </div>
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>
